{{define "subject"}}Activate your Railclone account{{end}}

{{define "plainBody"}}
{"token": "{{.activationToken}}"}
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <pre><code>
        {"token": "{{.activationToken}}"}
        </code></pre>
    </body>
</html>
{{end}}
